/* Core Styles */
html,
body {
  height: 100%;
}

body {
  background: #333333;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem 2rem;
  text-align: center;
}

img {
  width: 100%;
}

/*
    Specific Styles
 */

.container {
  color: black;
  display: flex;

  /* 
        * Tutorial: https://youtu.be/-Wlt8NRtOpo?t=279
        * Positioning elements along main-axis using justify-content.
        * {
            flex-start/default
            flex-end
            center
            space-around
            space-evenly
            space-between
        }
   */
  justify-content: space-around;
  height: 100%;
}

#home,
#search,
#logout {
  padding: 1rem 1rem;
  margin: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  /* flex: 1; */
}

#home:hover,
#search:hover,
#logout:hover {
  color: white;
  text-decoration: underline;
}

#home {
  background: orange;

  /*
        * To place the element in the right most corner.
   */
  /* margin-right: auto; */
  /* flex: 1; */
}

#search {
  background: lightblue;
}

#logout {
  background-color: lightsalmon;
  /* flex: 1; */

  /* 
        * To place the element in the left most corner.
   */
  /* 
  margin-left: auto;
  position: absolute;
  top: 0.8rem;
  right: 0; */
}

#section-a {
  margin: 2rem 0;
  display: none;
}

.card {
  background: white;
  color: black;
  margin: 2rem 0;
}
.card-content {
  padding: 1.5rem;
}

@media (min-width: 900px) {
  .container {
    display: flex;
    border: 2px solid white;
    justify-content: flex-start;

    /*
        * Align-Items is used to set/position the elements across the cross axis.
        * By default it will be off "stretch"
        * It can be of
          1. flex-start
          2. flex-end
          3. center
     */
    align-items: center;
  }

  #logout {
    align-self: flex-start;
  }

  .container > div {
    /* flex: 1; */
  }

  #card-container {
    display: flex;
  }

  #card-container > div {
    flex: 1;
    margin: 8px;
  }
}
